@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');


body {
    background-color: #eef2f6;
    list-style-type: none;
    font-family: Source Sans Pro;
    font-weight: 400;
    font-family: Source Sans Pro;
    font-size: medium;
    list-style-type: none;
    
    
}
.property{
    background-color: white;
    width: 25em; 
    height:35em;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;

}
.pic{
width: 25em;
border-top-left-radius: 0.5em;
border-top-right-radius: 0.5em;
}
.title-heading{
    font-family: Source Sans Pro;
    color: #4c5666;
    text-align: left;
    font-size: medium;
    margin-left: 1em;
    margin-bottom: 0.1em;
}
.regular-heading{
    font-family: Source Sans Pro;
    color: #4c5666;
    text-align: left;
    font-size: medium;
    font-weight: 600;
    margin-top: 0.8em;
    margin-left: 1em;
    margin-bottom: 0.2em;
}

.money-heading{
font-weight: 500;
font-family: Source Sans Pro;
text-align: left;
font-size: xx-large;
margin-left: 0.5em;
margin-top: 0.1em;
margin-bottom: 0.1em;
}
.vector{
    width: 30px;

}
.address-heading{
font-weight: 400;
font-family: Source Sans Pro;
font-size: large;
color: #4c5666 ;
margin-top: 0.1em;
margin-left: 1em;
}
.thin-heading5{
    font-weight: 400;
    font-family: Source Sans Pro;
    font-size: large;
    color: #4c5666 ;
    margin-left: 0.1em;
    list-style-type: none;
 
    }
.howmany {
    font-weight: 600;
    font-family: Source Sans Pro;
    font-size: large;
    margin-left: 1em;
    margin-right: 0.1em;

}
li{
    align-items: center;
    margin-top: 1em;
    display: flex;

}
.box2{
    border-top: 0.08em solid #e3e8ef;
    margin-bottom: 1em;
    list-style-type: none;
    align-items: center;
    content: align;
}
.phone-heading{
font-weight: 300;
font-family: Source Sans Pro;
text-align: left;
font-size: large;
color: #4c5666 ;
margin-left: 0.8em;
margin-top: 0.2em;
}

.realtor-name-heading{
font: weight 600;
color: black;
font-family: Source Sans Pro;
text-align: left;
font-size: large;
margin-left: 0.9em;
margin-top: 0em;
margin-bottom: 0.1em;
    
}
.box3{
    border-top: 0.08em solid #e3e8ef;
    background-color:#f8fafc ;
    height:6em;

 
}
.box4{
    border-top: 0.08em solid #e3e8ef;
    background-color:#4251ac ;
    height:4em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    margin-bottom: 5em;   
}
.learn-heading{
font-family:Source Sans Pro;
font-weight: 500;
font-size: medium;
color: white;
text-align: center;
}
